/* 共通部分 */
body{
	margin: 0;
}

h1{
	background-color: lightblue;
	margin: 0;
	padding-left: 1.5em;
}

h2{
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	margin-bottom: 20px;
    width: 100%;
    text-align: left;
    padding: 10px;
}
/* Container Flex Styles */
.container {
    display: flex;
    height: 100vh;
}

/* サイドバーのスタイル */
.global-navi {
    width: 200px;
    padding: 15px;
}

/* ナビゲーションのスタイル */
.global-navi nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-navi nav ul li {
    margin: 10px 0;
}

.global-navi nav ul li a {
    text-decoration: none;
    color: #007bff;
}

.global-navi nav ul li a:hover {
    text-decoration: underline;
}

.global-navi nav ul li ul {
    list-style: none;
    padding-left: 20px;
    margin: 5px 0 0 0;
}

.global-navi nav ul li ul li {
    margin: 5px 0;
}
/* サイドバーのスタイルここまで */

/* コンテンツのスタイル */

/* indexのスタイル */

/* Main Content Flex Styles */
.main-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Main Header Styles */
.main-header {

}

/* Main Flex Items Container Styles */
.main-flex-items-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Main Flex Items Styles */
.main-flex-item {
    width: 25%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-flex-item:nth-child(1) {
    background-color: #f8d7da;
}

.main-flex-item:nth-child(2) {
    background-color: #d4edda;
}

.main-flex-item:nth-child(3) {
    background-color: #d1ecf1;
}

/* Link Styles */
.main-flex-item a {
    color: blue;
    text-decoration: none;
}
/* indexのスタイルここまで */

/* 生徒一覧のスタイル */
.student_list_content{
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}