/* 共通部分 */
body {
    margin: 0;
}

h1 {
    background-color: lightblue;
    margin: 0;
    padding-left: 1.5em;
}

h2 {
    background-color: #EEEEEE;
    margin: 0;
    text-align: left;
    margin-bottom: 15px;
}

p {
    margin: 0;
}

button {
    background-color: #696969;
    color: #fff;
    border-radius: 5px;
    border: none; /* 枠線を消す */
    outline: none; /* クリックした際に枠線を消す */
    box-shadow: none; /* 影を消す */
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-select {
    border-radius: 5px;
}

.header_content1 {
    font-size: 14px;
    float: right;
    margin: 20px 40px 0px 10px;
}

.header_content2 {
    font-size: 14px;
    float: right;
    margin: 20px 10px 0px 10px;
}

/* Container Flex Styles */
.container {
    display: flex;
    height: 100vh;
}

/* サイドバーのスタイル */
.global-navi {
    width: 200px;
    padding: 15px;
}

/* ナビゲーションのスタイル */
.global-navi nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-navi nav ul li {
    margin: 10px 0;
}

.global-navi nav ul li a {
    text-decoration: none;
    color: #007bff;
}

.global-navi nav ul li a:hover {
    text-decoration: underline;
}

.global-navi nav ul li ul {
    list-style: none;
    padding-left: 20px;
    margin: 5px 0 0 0;
}

.global-navi nav ul li ul li {
    margin: 5px 0;
}

/* ログインのスタイル */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-items: center;
    border: 1px solid #ddd;
    margin: 10px 300px 0px 300px;
}

.login-form h2 {
    width: 100%;
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 7vh;
    padding-left: 30px;
}

.login-form input[type="submit"] {
    width: 30%;
    padding: 7px;
    margin-bottom: 10px;
}

/* ログアウトのスタイル */
.logout-content h2 {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

/* indexのスタイル */

/* Main Content Flex Styles */
.main-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Main Header Styles */
.main-header {
    margin-bottom: 10px;
}

/* Main Flex Items Container Styles */
.main-flex-items-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* Main Flex Items Styles */
.main-flex-item {
    width: 25%;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-flex-item:nth-child(1) {
    background-color: #f8d7da;
}

.main-flex-item:nth-child(2) {
    background-color: #d4edda;
}

.main-flex-item:nth-child(3) {
    background-color: #d1ecf1;
}

/* Link Styles */
.main-flex-item a {
    color: blue;
    text-decoration: none;
}

/* 生徒一覧のスタイル */
.student_list_content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.new_create {
    text-align: right;
    margin-bottom: 10px;
}

.student_list_search {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.col-4{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 200px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 5px 10px;
    width: 200px;
}

/* 成績一覧のスタイル */
.test_list_content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.test_list_search {
    display: flex;
    justify-content: space-between; 
}

.test_list_student {
    display: flex;
    border-top:1px solid #ddd;
    justify-content: space-around; 
}

.test_search_border{
    display: flex;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.col-2_test_list{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 40px;
    width: 100px;
}

.col-2_button_TestList{
    display: flex;
    flex-direction: column;
    margin:  20px 0px 20px 40px;
    width: 60px;
}

/*科目情報のセレクトボックスのCSS*/
.col-4_entYearSet{
    display: flex;
    flex-direction: column;
    margin:  10px 5px 10px 5px;
    width: 100px;
}

.col-4_classes{
    display: flex;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
    width: 100px;
}

.col-4_subjects{
    display: flex;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
    width: 200px;
}
/*科目情報のセレクトボックスのCSSここまで*/
.col-4_studentNum{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 20px;
    width: 220px;
}


/* 成績一覧のスタイルここまで */

/* 成績参照のスタイル */
.iwao {
    display: flex;
}
.search-form {
	display:flex;
}
#subjectCode {
	margin-left: 10px;
}
#subjectreturn {
	display: block;
	margin-top: 10px;
	
}
